
<ion-view title="'Scoreboards'">
   <ion-content has-header="false" has-tabs="true" padding="false">
      <ion-list>

         <div class="list">

            <a ng-repeat="game in games" ui-sref="scoreboard.board({gameId:game.gameId})" class="item item-thumbnail-left">
               <small>{{ game.createdAt | date:'medium' }}</small>
               <h2>{{ game.sport }} - {{game.teams[0].name}} VS {{game.teams[1].name}}</h2>
               <h4>{{ game.periods.quantity }} Periods of {{ game.periods.length*10 | splitSecondsFormat }} with intervals of {{ game.periods.interval*10 | splitSecondsFormat }}</h4>
            </a>

         </div>

      </ion-list>
   </ion-content>
</ion-view>
