
<ion-view title="'Scoreboard'">
   <ion-content has-header="false" has-tabs="false" padding="false" class="dark">
      <audio-sfx></audio-sfx>
      <count-down class="period-countdown" id="period-countdown" from="game.periods.length ">
      </count-down>
      <div class="scores" id="scores">
         <div ng-repeat="team in game.teams" class="score-panel">
            <score-panel team-name="team.name" score="team.score"></score-panel>
         </div>
      </div>
   </ion-content>
</ion-view>
