<ion-view title="'Settings'">
   <ion-content has-header="true" has-tabs="true" padding="true">

      <div class="list">
         <a class="item" ui-sref="scoreboard.settings-remote">
            Remote Control
         </a>
         <a class="item" ui-sref="scoreboard.settings-ui">
            User Interface
         </a>
         <a class="item" ui-sref="scoreboard.settings-sounds">
            Sounds
         </a>
         <a class="item" ui-sref="scoreboard.settings-session">
            Session
         </a>
         <a class="item" ui-sref="scoreboard.settings-about">
            About
         </a>
      </div>
   </ion-content>
</ion-view>